<form action="/pet/new" method="post">
  <input type="text" name="name" placeholder="name"/> <br/>
  <input type="text" name="breed" placeholder="breed"/> <br/>
  <input type="text" name="birthday" placeholder="birthday"/> <br/>
  <input type="text" name="gender" placeholder="gender"/> <br/>
  <input type="text" name="vet" placeholder="vet"/> <br/>
  <input type="text" name="spay_neuter" placeholder="spay_neuter"/> <br/>
  <input type="text" name="color" placeholder="color"/> <br/>
  <input type="text" name="weight" placeholder="weight"/> <br/>
  <input type="text" name="microchip_id" placeholder="microchip_id"/> <br/>
  <input type="submit" value="Submit"/>
</form>