<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Example App - Home</title>
</head>
<body>

    <!-- Uses built-in `if` helper. -->
  {{#if user}}
    <h1>hi {{user}}</h1>
  {{else}}
    derp, nope
  {{/if}}

</body>
</html>