<form action="/login" method="post">
  <input type="text" name="username" placeholder="username"/> <br/>
  <input type="password" name="password" placeholder="password"/> <br/>
  <input type="checkbox" name="rememberme"/> Remember me <br/>
  <input type="submit" value="Submit"/>
</form>